In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [7]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    output = employee[['salary']].drop_duplicates().nlargest(n=2, columns='salary').rename(columns={"salary": "SecondHighestSalary"})
    if output.shape[0] == 2:
        return output.iloc[1:]
    output.loc[0, 'SecondHighestSalary'] = np.NaN
    return output

In [8]:
second_highest_salary(employee)

   SecondHighestSalary
1                  200

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
        Unique =  employee["salary"].sort_values(ascending = False).drop_duplicates()
        if len(Unique) < 2:
            return pd.DataFrame({"SecondHighestSalary":[None]})
        else :
            return pd.DataFrame({"SecondHighestSalary":[Unique.iloc[1]]})